@import "../../assets/styles/variables.scss";

.notes {
	padding: 2rem 10rem;

	&__list {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(
			auto-fill,
			minmax(250px, 1fr)
		);
	}
}

@media (max-width: 768px) {
	.notes {
		padding: 2rem 3rem;
	}
}